<% include ./head.ejs %>
<title>Spotify match</title>
<h2>Welcome</h2>
<p>
  In this app we connect you to people that listen to the same tunes as you do!
</p>

<form action="/users/register">
  <input type="submit" value="Register account" />
</form>

<form action="users/login">
  <input type="submit" value="Login" />
</form>
<% include ./bottom.ejs %>
