<% include ../head.ejs %>
<html>
  <h1>Profile Page</h1>

  <h5>Name: <%= user.name %></h5>

  <h5>Age:<% user.age %></h5>
  <h5><%= user.email %></h5>
  
  <div class="data-form">
    <form method="POST" action="/users/me/edit">
      <h2>Edit user:</h2>
      <label for="inputFirstName">First Name</label>
      <input
        type="text"
        name="first"
        id="inputFirstName"
        placeholder="First"
        autofocus
      />
      <button type="submit">Update</button>
      <form method="GET" action="/users"> 
        <input type="submit" value="go to maches"/> 
      </form>
      <form method="post" action="/users/logout"> 
        <input type="submit" value="Logout"/> 
      </form>
  </div>
</html>

<% include ../bottom.ejs %>
