<% include ../head.ejs %>
<html>
  <h1>Profile Page</h1>

  <h5><%= user.name %></h5>

  <h5><%= user.email %></h5>
  
  <div class="data-form">
    <form method="POST" action="/users/me/edit">
      <h2>Edit user:</h2>
      <label for="inputFirstName">First Name</label>
      <input
        type="text"
        name="name"
        autofocus
      />
      <button type="submit">Go to other users</button>
  

      <!-- <form method="post" action="/users/logout"> 
        <input type="submit" value="Logout"/> 
      </form> -->
  </div>
</html>

<% include ../bottom.ejs %>
